{
  "CNVGermlineCaseWorkflow.contig_ploidy_model_tar": "/path/to/MyPractice-contig-ploidy-model.tar.gz",
  "CNVGermlineCaseWorkflow.filtered_intervals": "/path/to/gcnv-chrAll-contig.list.preprocessed.filtered.interval_list",
  "CNVGermlineCaseWorkflow.gcnv_model_tars": [
    "shard1.tar.gz",
    "shard2.tar.gz",
    "shard3.tar.gz"
  ],
  "CNVGermlineCaseWorkflow.allosomal_contigs": [
    "chrX",
    "chrY"
  ],
  "CNVGermlineCaseWorkflow.CollectCounts": {
    "counts": [
      "sample1.hdf5",
      "sample2.hdf5",
      "sample3.hdf5"
    ],
    "entity_id": [
      "sample1",
      "sample2",
      "sample3"
    ]
  },
  "CNVGermlineCaseWorkflow.sge_queue": "xxx.q",
  "CNVGermlineCaseWorkflow.gatk_docker": "broadinstitute/gatk:4.6.2.0",
  "CNVGermlineCaseWorkflow.gcnv_max_copy_number": "5",
  "CNVGermlineCaseWorkflow.gcnv_sample_psi_scale": "1e-6",
  "CNVGermlineCaseWorkflow.gcnv_cnv_coherence_length": "1000.0",
  "CNVGermlineCaseWorkflow.maximum_number_events_per_sample": "10000",
  "CNVGermlineCaseWorkflow.maximum_number_pass_events_per_sample": "10000",
  "CNVGermlineCaseWorkflow.num_intervals_per_scatter": 75000,
  "CNVGermlineCaseWorkflow.ref_copy_number_autosomal_contigs": 2,
  "CNVGermlineCaseWorkflow.ref_fasta": "/path/to/Homo_sapiens_assembly38.fasta",
  "CNVGermlineCaseWorkflow.ref_fasta_fai": "/path/to/Homo_sapiens_assembly38.fasta.fai",
  "CNVGermlineCaseWorkflow.ref_fasta_dict": "/path/to/Homo_sapiens_assembly38.dict"
}
